<%- include('../components/header.ejs'); %>

    <div class="container">'
        <Section class="header">
            <h1>Create Campaign</h1>
        </Section>


        <form method="post" action="campaign" class="row g-3 needs-validation" >
            <div class="col-md-12">
                <label for="validationCustom01" class="form-label">Campaign Name</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>

    <%- include('../components/footer.ejs'); %>