<%- include('../components/header.ejs'); %>
    <div class="container">
        <div class="alert alert-primary mt-5 mb-5" role="alert">
            Your Ad Created Successfully
        </div>
    </div>

    <%- include('../components/footer.ejs'); %>